
/*festlegung der schriftart  */
body{
	font-family: helvetica;
	margin-top: 0;
	padding-top: 0;
}
img{
	vertical-align: middle;
}

/*festlegung hintergrundbild,schriftart header */
#header{
	background-image: url(bilder/header.jpg);
	height: 150px;
	background-size: 100%;
	background-position-y: -150px;
	font-family: Noteworthy;
	font-size: 30px;
	color: white;
	padding-left: 20px;
}

/*menueleiste*/
#navi{
	width:100%;
	height: 50px;
	background-color: gray;
}
#navi ul{
	list-style-type: none;
	padding:  0;
	width: 75%;
}
#navi li{
	width: 25%;
	float:left;
	padding: 0;
}

#navi ul li button{
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
}



/* festlegung fuer die Sidebar */
#sidebar-left{
	float:left;
}
#sidebar-right{
	float:right;
}

.sidebar{
	width:20%;
	background-color: gray;
	
}

#content{
	width:58%;
	float:left;

}
#content-full{
	width: 100%;
}

.search_input{
	height: 22px;
	width: 20%;
	margin-top: 3px;
	margin-left: 5px;
}
.search_button{
	height: 29px;
	width: 30px;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	background-color: lightblue;
}


/*festlegung der boxen*/
.sidebar-box{
	border:black solid 1px;
	border-radius: 6px;
	background-color: white;
	margin: 0 10px 20px;

}
.sidebar-box .title{
	background: darkgrey;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: lightblue;
	font-weight: bold;
	padding: 8px 5px 5px;
}
.sidebar-box .content {
	font-size: 12px;
	border-radius: 6px;
}
.sidebar-box .content label{
	width: 100%;
	display: block;
	margin: 8px 8px 0;
	
}
.sidebar-box .content input{
	width: 90%;
	margin-left: 8px;
}
.sidebar-box .content p {
	margin: 2px;
	padding: 0 5px;

}
.sidebar-box .content ul{
	list-style-type: none;
	-webkit-padding-start: 0;
	padding-left: 5px;
}
.sidebar-box .content ul li{
	padding-left: 0;
}
.sidebar-box button{
	margin: 5px;
}



/*festlegung fotoboxen*/
.box_big{
	width: 100%;
}
.foto-text{
	width: 30%;
	margin: 1% 2% 1% 1%;
	font-size: 15px;
	float: right;
	font-family: Noteworthy;
}
.foto-text h2{
	margin: 0;
	padding: 0;
}
.foto{
	float:left;
	width: 60%;
	margin:2%;
}
.foto img {
	width: 100%;
}

/*festlegung groesse/art/hoehe/laenge registerfelder*/
.register label{
	width: 120px;
	display: inline-block;
}
.register input{
	width: 300px;
	height: 20px;
	padding: 2px 5px;
}
/*festlegung hintergrund fuers formular*/
.form-container{
	margin: 20px auto;
	padding: 15px;
	width: 500px;
	background:linear-gradient(top,#fcfcfc 0%, #ebebeb 100%);
	background:-webkit-linear-gradient(top,#fcfcfc 0%, #ebebeb 100%); /*noetig fuer chrome und safari*/
	border: 1px solid gray;
}
.form-container button{
	width: 200px;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	float: right;
}

.checkbox-categories label{
	display: block;
	line-height: 20px;
}

.checkbox-categories button{
	margin: 18px;
	}

/*zum zurueksetzen des floats*/

.clear{
	clear: both;
}
.center{
	text-align: center;
}



#footer{
	background-color: gray;
	height: 100px;
	
}