
/*festlegung der schriftart  */
body{
	font-family: helvetica;
	margin-top: 0;
	padding-top: 0;
}
img{
	vertical-align: middle;
}

/*festlegung hintergrundbild,schriftart header */
#header{
	background-image: url(bilder/header.jpg);
	height: 150px;
	background-size: 100%;
	background-position-y: -150px;
	font-family: Noteworthy;
	font-size: 30px;
	color: white;
	padding-left: 20px;
}

/*menueleiste*/
#navi{
	position: relative;
	width:100%;
	height: 50px;
	background-color: gray;
}
#navi > ul{
	list-style-type: none;
	padding:  0;
	width: 75%;
}
#navi > ul > li{
	width: 25%;
	float:left;
	padding: 0;
	display: block;
}

#navi > ul > li:hover .dropdown-menue{
	opacity: 1;
	visibility: visible;
	
}

#navi ul li button{
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
}

.dropdown-menue{
	background: yellow;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 32px;
	visibility: hidden;
	width:17%;
	padding: 10px;
}
.dropdown-menue ul{
	list-style-type: none;
	
}

.dropdown-menue li{
	display: inline-block;
	float: none;
	width: 100%;
	height: 20px;
	}



/* festlegung fuer die Sidebar */
#sidebar-left{
	float:left;
}
#sidebar-right{
	float:right;
}

.sidebar{
	width:20%;
	background-color: gray;
	
}

#content{
	width:58%;
	float:left;

}
#content-full{
	width: 100%;
}

.search_input{
	height: 22px;
	width: 20%;
	margin-top: 3px;
	margin-left: 5px;
}
.search_button{
	height: 29px;
	width: 30px;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	background-color: lightblue;
}


/*festlegung der boxen*/
.sidebar-box{
	border:black solid 1px;
	border-radius: 6px;
	background-color: white;
	margin: 0 10px 20px;

}
.sidebar-box .title{
	background: darkgrey;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: lightblue;
	font-weight: bold;
	padding: 8px 5px 5px;
}
.sidebar-box .content {
	font-size: 12px;
	border-radius: 6px;
}
.sidebar-box .content label{
	width: 100%;
	display: block;
	margin: 8px 8px 0;
	
}
.sidebar-box .content input{
	width: 90%;
	margin-left: 8px;
}
.sidebar-box .content p {
	margin: 2px;
	padding: 0 5px;

}
.sidebar-box .content ul{
	list-style-type: none;
	-webkit-padding-start: 0;
	padding-left: 5px;
}
.sidebar-box .content ul li{
	padding-left: 0;
}
.sidebar-box button{
	margin: 5px;
}



/*festlegung fotoboxen*/
.box_big{
	width: 100%;
}
.foto-text{
	width: 30%;
	margin: 1% 2% 1% 1%;
	font-size: 15px;
	float: right;
	font-family: Noteworthy;
}
.foto-text h2{
	margin: 0;
	padding: 0;
}
.foto{
	float:left;
	width: 60%;
	margin:2%;
}
.foto img {
	width: 100%;
}

/*festlegung groesse/art/hoehe/laenge registerfelder*/
.register label{
	width: 120px;
	display: inline-block;
}
.register input{
	width: 300px;
	height: 20px;
	padding: 2px 5px;
}
/*festlegung hintergrund fuers formular*/
.form-container{
	margin: 20px auto;
	padding: 15px;
	width: 500px;
	background:linear-gradient(top,#fcfcfc 0%, #ebebeb 100%);
	background:-webkit-linear-gradient(top,#fcfcfc 0%, #ebebeb 100%); /*noetig fuer chrome und safari*/
	border: 1px solid gray;
}
.form-container button{
	width: 200px;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	float: right;
}

.checkbox-categories label{
	display: block;
	line-height: 20px;
}

.checkbox-categories button{
	margin: 18px;
	}

/*zum zurueksetzen des floats*/

.clear{
	clear: both;
}
.center{
	text-align: center;
}



#footer{
	background-color: gray;
	height: 100px;
	
}

/* Container der Suchergebnisuebersichtsseite; erster Entwurf Thies Schillhorn */
#container {
    position:relative; 
    width:770px; 
    height:396px; 
    margin:20px auto 0 auto;
    border:1px solid #aaa;
}

#container ul {
    width:198px;
    height:386px;
    padding:0;
    margin:5px;
    list-style-type:none;
    float:right;
}

#container li {
    float:left;
}

#container a.gallery, #container a.gallery:visited {
    display:block; 
	color:#000; 
	text-decoration:none; 
	border:1px solid #000; 
	margin:1px 2px 1px 2px; 
	text-align:left;     
	cursor:default;
}

/* erstes Bild und zweites bild, .... */
/* weitere bilder könnten hinzugefügt werden -- erstmal alles nur über css und statisch */
#container a.slidea {
    background:url(bilder/FeedTwice.jpeg);
	height:93px;
	width:60px;
}

#container a.slideb {
    background:url(bilder/Blowaway.jpeg);
	height:93px;
	width:60px;
}

#container a.slidec {
    background:url(bilder/header.jpg);
	height:93px;
	width:60px;
}

#container a.slided {
    background:url(bilder/Vulcano.jpg);
	height:93px;
	width:60px;
}

#container a.slidee {
    background:url(bilder/Thor.jpg);
	height:93px;
	width:60px;
}

#container a.slidef {
    background:url(bilder/Bryce.jpg);
	height:93px;
	width:60px;
}

#container a.gallery span {
    position:absolute;
	width:1px; 
	height:1px; 
	top:5px; 
	left:5px; 
	background:#fff; 
	overflow:hidden;
}

#container a.gallery:hover {
    border:1px solid #fff;
}

#container a.gallery:hover img {
    border:1px solid #fff;
	float:left; 
	margin-right:5px;
}

#container a.slidea:hover img, #container a.slidei:hover img {
    float:right;
}

#container a.slideb:hover img, #container a.slidei:hover img {
    float:right;
}

#container a.slidec:hover img, #container a.slidei:hover img {
    float:right;
}

#container a.gallery:hover span {
    position:absolute;
	width:372px;
	height:372px;
	top:10px; 
	left:75px;
	color:#000;
	background:#fff;
}
